@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
    margin: 0;
    font-family: 'EB Garamond', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.hero-left {
    left: 9px;
}
.hero-right {
    right: 7px;
}

.first-hero {
    position: absolute;
    top: 47px;
}
.second-hero {
    position: absolute;
    top: 139px;
}
.third-hero {
    position: absolute;
    top: 231px;
}
